.someClass {
    border: 1px solid green;
    outline: green;
}

.error {
    border: 1px solid red;
}

.error:focus-visible {
    outline: 1px solid red;
}

.errorMessage {
    font-size: 14px;
    margin-top: 3px;
    color: darkred;
    font-weight: bold;
}
